.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;

    margin: 14px 0;

    font-size: 16px;
    text-transform: lowercase;

    color: #f0f0ff;

    width: 100%;
}

.form-wrapper input {
    padding: 8px 12px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 90px;

    background-color: #d9d9d952;
    color: #fff
}

label {
    font-weight: bold;
}

input::placeholder {
    color: #ffffffb3;
}

.checkbox-group {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px;           
    cursor: pointer;
}

.checkbox-group input {
    width: 20px;         
    height: 20px;
    margin: 0;
    cursor: pointer;
    accent-color: #005B41; 
}

.checkbox-group label {
    margin: 0;
    cursor: pointer;
    font-weight: normal; 
}

.error-message {
    color: #ff4d4d; /* Um vermelho suave para o modo escuro */
    font-size: 12px;
    margin-top: -10px; /* Ajuste dependendo do seu gap */
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: lowercase;
}

/* Opcional: Borda vermelha no input inválido */
input.ng-invalid.ng-touched {
    border: 1px solid #ff4d4d55;
    background-color: #ff4d4d11;
}