<div class="form-wrapper">
  @if (type === 'checkbox') {
    <div class="checkbox-group">
      <input 
        type="checkbox" 
        [id]="id" 
        [formControlName]="id" 
      />
      <label [for]="id">{{ field }}</label>
    </div>
  } @else {

    <label [for]="id">{{ field }}</label>

    <div class="input-container">

      <input
        [type]="isPassword ? (showPassword ? 'text' : 'password') : type"
        [id]="id"
        [placeholder]="placeholder"
        [formControlName]="id"
      />

      @if(isPassword) {
        <button 
          type="button"
          class="toggle-password"
          (click)="togglePassword()"
          >       
          <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
        </button>
      }

      <!-- Caso queira usar content projection como ícone -->
      <ng-content></ng-content>

    </div>

    @if (control?.invalid && (control?.dirty || control?.touched)) {
      <div class="error-container">

        @if (control?.hasError('required')) {
          <div class="error-text">
            {{ field }} é obrigatório.
          </div>
        }

        @if (control?.hasError('minlength')) {
          <div class="error-text">
            mínimo de {{ control?.errors?.['minlength']?.requiredLength }} caracteres.
          </div>
        }

        @if (control?.hasError('email')) {
          <div class="error-text">
            digite um e-mail válido.
          </div>
        }

      </div>
    }

  }
</div>