* {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    all: unset;
    cursor: pointer;
}

.menu {
    padding: 12px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    background-color: #0f0f0f7c;
}

.left, .right {
    display: flex; 
    flex-direction: row; 
    gap: 32px;
}
